useDynLib("oligo")
import(Biobase, splines, graphics, stats, methods, affxparser)

exportMethods("$",
              "antisenseThetaA",
              "antisenseThetaB",
              "boxplot",
              "db",
              "exprs",
              "featureIndex",
              "featureInfo",
              "featureNames",
              "geneNames",
              "genomeBuild",
              "geometry",
              "getA",
              "getM",
              "getPlatformDesign",
              "genotype",
              "hist",
              "image",
              "initialize",
              "kind",
              "length",
              "listFeatureFields",
              "listFeatureSetFields",
              "manufacturer",
              "manufacturer<-",
              "MAplot",
              "mm",
              "mm<-",
              "mmindex",
              "mmSequence",
              "names",
              "ncol",
              "nProbes",
              "nrow",
              "platform",
              "platform<-",
              "platformDesignName",
              "pm",
              "pm<-",
              "pmAllele",
              "pmChr",
              "pmindex",
              "pmPosition",
              "pmSequence",
              "pmStrand",
              "probeNames",
              "rma",
              "senseThetaA",
              "senseThetaB",
              "show")

## Exported functions

export("basecontent",
       "cleanPlatformName",
       "read.celfiles",
       "read.xysfiles",
       "sequenceDesignMatrix",
       "list.celfiles",
       "list.xysfiles",
       "getPD")

## Exported functions for CRLMM

export("crlmm",
       "snprma",
       "justSNPRMA",
       "justCRLMM")
