useDynLib("oligo")
import(Biobase, affyio, splines)
exportPattern("^[^\\.]")

exportClasses(platformDesign, FeatureSet, ExpressionFeatureSet,
              SnpFeatureSet, TilingFeatureSet, SnpQSet,
              SnpCopyNumberSet, SnpCallSet, oligoSnpSet,
              SnpCallSetPlus)

exportMethods(platform, "platform<-", manufacturer, "manufacturer<-",
              length, platformDesignName, getPlatformDesign, geneNames,
              pmindex, mmindex, indexFeatureSetName, ncol, nrow, hist,
              pm, "pm<-", mm, "mm<-", featureIndex, boxplot, image, sd,
              npixels, allele, calls, "calls<-", callsConfidence,
              "callsConfidence<-", logRatioAntisense, logRatioSense,
              snpMedianSilhouette, copyNumber, "copyNumber<-",
              cnConfidence, "cnConfidence<-", snpBasePair,
              pmSnpBasePair, alleleAB, pmAlleleAB, senseThetaA,
              senseThetaB, antisenseThetaA, antisenseThetaB, getM, getA,
              chromosome, position, genomeBuild, pmPosition, pmChr, show,
              names, nProbes, initialize, exprs)
